flow/flows.json
[{"id":"52d0814f.a62c2","type":"tab","label":"ControlM Batch","_def":{"defaults":{"label":{"value":""}}}},{"id":"ec253f80.0c828","type":"tab","label":"Job Dashbaord","_def":{"defaults":{"label":{"value":""}}}},{"id":"20782f4c.404bf","type":"tab","label":"Alert","_def":{"defaults":{"label":{"value":""}}}},{"id":"ca23f017.a3529","type":"tab","label":"Alert DashBoard","_def":{"defaults":{"label":{"value":""}}}},{"id":"213099a2.afa386","type":"mongodb","z":"52d0814f.a62c2","hostname":"mongo","port":"27017","db":"node-red","name":"Mongo1"},{"id":"50344024.85a61","type":"mongodb","z":"ec253f80.0c828","hostname":"mongo","port":"27017","db":"node-red","name":"Mongo"},{"id":"b81eafe1.8ebd2","type":"mongodb","z":"20782f4c.404bf","hostname":"mongo","port":"27017","db":"node-red","name":"mongo"},{"id":"6c8772ea.40a3fc","type":"mongodb","z":"ca23f017.a3529","hostname":"mongo","port":"27017","db":"node-red","name":"Mongo"},{"id":"140f6e7c.e69bc2","type":"mail-parse","z":"52d0814f.a62c2","name":"Parse Mail","x":283,"y":73,"wires":[["1402804b.acc43"],[]]},{"id":"1402804b.acc43","type":"function","z":"52d0814f.a62c2","name":"Extract Attachment","func":"    msg.payload = msg.attachments[0].content;\n    return msg;","outputs":1,"noerr":0,"x":500,"y":67,"wires":[["3bc05eb6.d21b22"]]},{"id":"34c7346f.12521c","type":"csv","z":"52d0814f.a62c2","name":"CSV to Data","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"JOB_NAME,SERVER_NAME,UNIQUE_ID,REFERENCE_ID,START_TIME,END_TIME,STATUS","x":380,"y":216,"wires":[["b4429819.692b38"]]},{"id":"3bc05eb6.d21b22","type":"function","z":"52d0814f.a62c2","name":"Convert to UTF8","func":"msg.payload = msg.payload.toString(\"utf-8\");\nreturn msg;","outputs":1,"noerr":0,"x":159,"y":215,"wires":[["34c7346f.12521c"]]},{"id":"fb2eb20e.57851","type":"mongodb out","z":"52d0814f.a62c2","mongodb":"213099a2.afa386","name":"DB Insert","collection":"controlm-jobs","payonly":true,"upsert":true,"multi":false,"operation":"store","x":784.5,"y":217,"wires":[]},{"id":"b4429819.692b38","type":"function","z":"52d0814f.a62c2","name":"Add MongoDB ID","func":"msg._id=msg.payload.UNIQUE_ID;\nif(typeof msg.payload.START_TIME!=\"undefined\"){\n    var stringDate = msg.payload.START_TIME.trim();\n    var splitDate=stringDate.split(\" \");\n    var dateString= splitDate[2]+\" \"+ splitDate[1]+\" \" +splitDate[5]+\" \" +splitDate[3];\n    msg.payload.START_TIME=new Date(dateString);\n}\nif(typeof msg.payload.END_TIME!=\"undefined\"){\n    var stringDate = msg.payload.END_TIME.trim();\n    var splitDate=stringDate.split(\" \");\n    var dateString= splitDate[2]+\" \"+ splitDate[1]+\" \" +splitDate[5]+\" \" +splitDate[3];\n    msg.payload.END_TIME=new Date(dateString);\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":200,"wires":[["fb2eb20e.57851"]]},{"id":"bc5b2212.4f296","type":"e-mail in","z":"52d0814f.a62c2","name":"Get Mail","protocol":"IMAP","server":"webmail.sapient.co.in","useSSL":true,"port":"993","box":"JOBS","disposition":"Delete","repeat":"3000","x":100,"y":60,"wires":[["140f6e7c.e69bc2"]]},{"id":"fc8ab9ea.abc4b8","type":"http in","z":"ec253f80.0c828","name":"Request","url":"/dashboard/controlm-jobs","method":"get","swaggerDoc":"","x":108,"y":40,"wires":[["14dae9c3.2fa3f6"]]},{"id":"c495f8a8.8322c8","type":"mongodb in","z":"ec253f80.0c828","mongodb":"50344024.85a61","name":"Get Data","collection":"controlm-jobs","operation":"aggregate","x":309,"y":45,"wires":[["1befc500.4f886b"]]},{"id":"6490c6c8.71e308","type":"http response","z":"ec253f80.0c828","name":"Reponse","x":731,"y":49,"wires":[]},{"id":"1befc500.4f886b","type":"template","z":"ec253f80.0c828","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Batch Job DashBoard</title>\n</head>\n<body>\n\n<h1>Batch Job DashBoard</h1>\n<table style=\"width:100%\">\n    <th>JOB_NAME</th>\n    <th>SERVER_NAME</th>\n    <th>START_TIME</th>\n    <th>END_TIME</th>\n    <th>STATUS</th>\n    <th>DESCRIPTION</th>\n    <th>JOB_GROUP</th>\n{{#payload}}\n  <tr>\n    <td>{{JOB_NAME}}</td>\n    <td>{{SERVER_NAME}}</td> \n    <td>{{START_TIME}}</td>\n\t<td>{{END_TIME}}</td>\n\t<td>{{STATUS}}</td>\n\t{{#LOOKUP}}\n\t<td>{{DESCRIPTION}}</td>\n\t<td>{{JOB_GROUP}}</td>\n\t{{/LOOKUP}}\n  </tr>\n  {{/payload}}\n</table>\n\n</body>\n</html>\n\n","x":500,"y":106,"wires":[["6490c6c8.71e308"]]},{"id":"14dae9c3.2fa3f6","type":"function","z":"ec253f80.0c828","name":"Set Fetch Properties","func":"var job_type=msg.payload.type;\nif(typeof job_type== \"undefined\"){\n    job_type=/.*.*/;\n}\nmsg.payload=[\n    {\n      $lookup:\n     {\n       from: \"controlm-job-lookup\",\n       localField: \"JOB_NAME\",\n       foreignField: \"JOB_NAME\",\n       as: \"LOOKUP\"\n     }\n   },\n   { $match: {\"LOOKUP.JOB_GROUP\" : job_type  } },\n   { $sort: { START_TIME: -1 }},\n    { $limit : 50 }\n];\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":148,"wires":[["c495f8a8.8322c8"]]},{"id":"c975455c.86d9e8","type":"file in","z":"52d0814f.a62c2","name":"File","filename":"/src/shared/controlm-lookup/controlm.csv","format":"utf8","x":295,"y":369,"wires":[["8a32961e.1fe268"]]},{"id":"239642d1.a3886e","type":"inject","z":"52d0814f.a62c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":371,"wires":[["c975455c.86d9e8"]]},{"id":"8a32961e.1fe268","type":"csv","z":"52d0814f.a62c2","name":"CSV","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"JOB_NAME,DESCRIPTION,JOB_GROUP","x":452,"y":371,"wires":[["8bd3b1a4.36645"]]},{"id":"8bd3b1a4.36645","type":"function","z":"52d0814f.a62c2","name":"Convert Prod Job","func":"msg.payload.JOB_NAME=\"PROD_\"+msg.payload.JOB_NAME;\nreturn msg;","outputs":1,"noerr":0,"x":659,"y":373,"wires":[["44f91364.a9ba9c"]]},{"id":"44f91364.a9ba9c","type":"mongodb out","z":"52d0814f.a62c2","mongodb":"213099a2.afa386","name":"Save Job Lookup","collection":"controlm-job-lookup","payonly":true,"upsert":false,"multi":false,"operation":"store","x":680,"y":490,"wires":[]},{"id":"13a39efd.d001a1","type":"e-mail in","z":"20782f4c.404bf","name":"Alert Mail","protocol":"IMAP","server":"webmail.sapient.co.in","useSSL":true,"port":"993","box":"ALERT/ATT_ALERTS","disposition":"Delete","repeat":"3000","x":79,"y":83,"wires":[["5cb978c.e9a2f88"]]},{"id":"6021602f.a20cf","type":"html","z":"20782f4c.404bf","name":"Extract Text","tag":"table>tr,table>tbody>tr","ret":"html","as":"multi","x":492.5,"y":85,"wires":[["d3641159.5f917"]]},{"id":"5cb978c.e9a2f88","type":"function","z":"20782f4c.404bf","name":"Get HTML from Msg","func":"msg.payload=msg.html;\nreturn msg;","outputs":1,"noerr":0,"x":275.5,"y":86,"wires":[["6021602f.a20cf"]]},{"id":"d3641159.5f917","type":"html","z":"20782f4c.404bf","name":"Extract Rows","tag":"td","ret":"text","as":"single","x":694.5,"y":85,"wires":[["ee8c9a36.0e3ad8"]]},{"id":"ee8c9a36.0e3ad8","type":"function","z":"20782f4c.404bf","name":"Array to JSON","func":"var json ={};\njson.Asset = msg.payload[0];\njson.Severity=msg.payload[1];\njson.Mode=msg.payload[2];\njson.Message=msg.payload[3];\njson.AlertDate=msg.date;\nmsg.payload=json;\nif(json.Mode==\"drop\"){\n    msg=null;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":146.5,"y":205,"wires":[["1298e393.65a6ec"]]},{"id":"3c274fb3.7b7a5","type":"mongodb out","z":"20782f4c.404bf","mongodb":"b81eafe1.8ebd2","name":"Save Alert","collection":"alert","payonly":true,"upsert":false,"multi":false,"operation":"store","x":759.5,"y":211,"wires":[]},{"id":"89fb37a.4d6ebc8","type":"function","z":"20782f4c.404bf","name":"Set ControlM AlertKey","func":"var regexp = /(?:^|\\s)The JOB (.*?)(?:\\s|$)/g;\nvar match = regexp.exec(msg.payload.Message);\nmsg.payload.AlertKey=match[1];\nreturn msg;","outputs":1,"noerr":0,"x":174.5,"y":302,"wires":[["3c274fb3.7b7a5"]]},{"id":"1298e393.65a6ec","type":"switch","z":"20782f4c.404bf","name":"Message Type","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"M&S Control-M JOB alert","vt":"str"},{"t":"eq","v":"MNS PLATFORM Alert","vt":"str"},{"t":"eq","v":"MNS PLT_SERVICE_ALERT Alert","vt":"str"}],"checkall":"false","outputs":3,"x":467.5,"y":208,"wires":[["89fb37a.4d6ebc8"],["c059c45e.609168"],["8beffd3e.ce76a"]]},{"id":"c059c45e.609168","type":"function","z":"20782f4c.404bf","name":"Set Platform AlertKey","func":"var messageStr=msg.payload.Message;\nvar splitKey = messageStr.split(\"||\");\nvar key;\nif(typeof splitKey[2]!= \"undefined\"){\n    key = splitKey[2].split(\" \")[2];\n}else{\n    key = messageStr.split(\"--\")[2].split(\" \")[2];\n}\nmsg.payload.AlertKey=key;\nreturn msg;","outputs":1,"noerr":0,"x":164,"y":377,"wires":[["3c274fb3.7b7a5"]]},{"id":"8beffd3e.ce76a","type":"function","z":"20782f4c.404bf","name":"Set Service AlertKey","func":"//TODO\nreturn msg;","outputs":1,"noerr":0,"x":158,"y":451,"wires":[["3c274fb3.7b7a5"]]},{"id":"6851e03d.5994e","type":"http in","z":"ec253f80.0c828","name":"Request","url":"/dashboard/alerts","method":"get","swaggerDoc":"","x":101,"y":186,"wires":[["33f2dced.9b3cc4"]]},{"id":"d992a9ee.552d88","type":"mongodb in","z":"ec253f80.0c828","mongodb":"50344024.85a61","name":"Get Data","collection":"alert","operation":"find","x":302,"y":191,"wires":[["cf795a56.57ff58"]]},{"id":"ceb78fc1.48a67","type":"http response","z":"ec253f80.0c828","name":"Reponse","x":724,"y":195,"wires":[]},{"id":"cf795a56.57ff58","type":"template","z":"ec253f80.0c828","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Alert DashBoard</title>\n</head>\n<body>\n\n<h1>Alert DashBoard</h1>\n<table style=\"width:100% ;border: 1px solid black;\">\n{{#payload}}\n  <tr>\n    <td style=\"border: 1px solid black;\">{{Asset}}</td>\n    <td style=\"border: 1px solid black;\">{{Severity}}</td> \n    <td style=\"border: 1px solid black;\">{{Mode}}</td>\n\t<td style=\"border: 1px solid black;\">{{Message}}</td>\n\t<td style=\"border: 1px solid black;\">{{AlertDate}}</td>\n\t<td style=\"border: 1px solid black;\">{{AlertKey}}</td>\n  </tr>\n  {{/payload}}\n</table>\n\n</body>\n</html>\n\n","x":493,"y":252,"wires":[["ceb78fc1.48a67"]]},{"id":"33f2dced.9b3cc4","type":"function","z":"ec253f80.0c828","name":"Set Fetch Properties","func":"msg.limit= 150;\nmsg.sort={ AlertDate: -1 };\nmsg.payload={Severity:\"major\"};\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":294,"wires":[["d992a9ee.552d88"]]},{"id":"59f9806f.c62a8","type":"http in","z":"ec253f80.0c828","name":"Request","url":"/dashboard/job/api","method":"get","swaggerDoc":"","x":80,"y":429,"wires":[["c7cb0041.7e474"]]},{"id":"ccceca9a.019d58","type":"mongodb in","z":"ec253f80.0c828","mongodb":"50344024.85a61","name":"Get Data","collection":"controlm-jobs","operation":"aggregate","x":281,"y":434,"wires":[["5219506d.3b315"]]},{"id":"464a01a1.1e20e","type":"http response","z":"ec253f80.0c828","name":"Reponse","x":703,"y":438,"wires":[]},{"id":"c7cb0041.7e474","type":"function","z":"ec253f80.0c828","name":"Set Fetch Properties","func":"var job_type=msg.payload.type;\nif(typeof job_type== \"undefined\"){\n    job_type=/.*.*/;\n}\nmsg.payload=[\n    {\n      $lookup:\n     {\n       from: \"controlm-job-lookup\",\n       localField: \"JOB_NAME\",\n       foreignField: \"JOB_NAME\",\n       as: \"LOOKUP\"\n     }\n   },\n   { $match: {\"LOOKUP.JOB_GROUP\" : job_type  } },\n   { $sort: { START_TIME: -1 }},\n    { $limit : 50 }\n];\nreturn msg;","outputs":1,"noerr":0,"x":243,"y":537,"wires":[["ccceca9a.019d58"]]},{"id":"5219506d.3b315","type":"json","z":"ec253f80.0c828","name":"OBJECT","x":518.5,"y":482,"wires":[["464a01a1.1e20e"]]},{"id":"588c0a6d.a55c14","type":"http in","z":"ec253f80.0c828","name":"Request","url":"/dashboard/job/lookup","method":"get","swaggerDoc":"","x":76,"y":586,"wires":[["94ed69be.071c88"]]},{"id":"b3fa246e.3b3108","type":"mongodb in","z":"ec253f80.0c828","mongodb":"50344024.85a61","name":"Get Data","collection":"controlm-job-lookup","operation":"find","x":277,"y":591,"wires":[["7cd2c2a7.050c5c"]]},{"id":"6ab7161a.9f1648","type":"http response","z":"ec253f80.0c828","name":"Reponse","x":699,"y":595,"wires":[]},{"id":"94ed69be.071c88","type":"function","z":"ec253f80.0c828","name":"Set Fetch Properties","func":"var job_type=msg.payload.type;\nif(typeof job_type== \"undefined\"){\n    job_type=/.*.*/;\n}\nmsg.payload={JOB_GROUP: job_type};\nreturn msg;","outputs":1,"noerr":0,"x":239,"y":694,"wires":[["b3fa246e.3b3108"]]},{"id":"7cd2c2a7.050c5c","type":"json","z":"ec253f80.0c828","name":"OBJECT","x":514.5,"y":639,"wires":[["6ab7161a.9f1648"]]},{"id":"eda6e37c.b5da","type":"http in","z":"ec253f80.0c828","name":"Request","url":"/dashboard/alerts/api","method":"get","swaggerDoc":"","x":81,"y":890,"wires":[["dda72ee3.2c2b5"]]},{"id":"a4132f17.48393","type":"mongodb in","z":"ec253f80.0c828","mongodb":"50344024.85a61","name":"Get Data","collection":"alert","operation":"find","x":282,"y":895,"wires":[["d1a9abd2.9c5c08"]]},{"id":"56d0ed41.b85c24","type":"http response","z":"ec253f80.0c828","name":"Reponse","x":704,"y":899,"wires":[]},{"id":"dda72ee3.2c2b5","type":"function","z":"ec253f80.0c828","name":"Set Fetch Properties","func":"msg.limit= 150;\nmsg.sort={ AlertDate: -1 };\nmsg.payload={Severity:\"major\"};\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":998,"wires":[["a4132f17.48393"]]},{"id":"d1a9abd2.9c5c08","type":"json","z":"ec253f80.0c828","name":"","x":477.5,"y":1047,"wires":[["56d0ed41.b85c24"]]},{"id":"1c897b09.7a87a5","type":"mongodb in","z":"ca23f017.a3529","mongodb":"6c8772ea.40a3fc","name":"Get Data","collection":"alert","operation":"find","x":445.99993896484375,"y":198,"wires":[["37b5502a.921ea"]]},{"id":"b949297e.908a08","type":"function","z":"ca23f017.a3529","name":"Set Data Prop","func":"msg.limit= 150;\nmsg.sort={ AlertDate: -1 };\nmsg.payload={Severity:\"major\"};\nreturn msg;","outputs":1,"noerr":0,"x":273.99998474121094,"y":199,"wires":[["1c897b09.7a87a5"]]},{"id":"f95d023f.91e6c","type":"http in","z":"ca23f017.a3529","name":"AlertDashboard","url":"/alertDashboard","method":"get","swaggerDoc":"","x":97,"y":48,"wires":[["b949297e.908a08"]]},{"id":"c0bd56f0.8df698","type":"template","z":"ca23f017.a3529","name":"templateJson","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html> \n<html>\n<head>\n    <meta http-equiv=\"refresh\" content=\"30\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/assets/main.css\">\n\n    </head>\n    <body class=\"alert-homepage\">\n        <div class=\"container-fluid\">\n            <div class=\"row dashboard-title\">\n                <h1>Alerts Dashboard</h1>\n            </div>\n            <div class=\"row\">\n                <div class=\"col-sm-6\">\n                    <a href=\"/showhourlydata\" target=\"_blank\">\n                    <div class=\"{{hourlyStatus}} status-box\">\n                        <h2>Hourly Status</h2>\n                        <p>Status : {{hourlyStatus}}</p>\n                        <p>Number of alerts: {{hourlyFailed}}</p>\n                    </div>\n                    </a>\n                </div>\n                <div class=\"col-sm-6\">\n                    <a href=\"/showdailystatus\" target=\"_blank\">\n                        <div class=\"{{dailyStatus}} status-box\">\n                            <h2>Daily Status</h2>\n                            <p>Status : {{dailyStatus}}</p>\n                            <p>Number of alerts: {{dailyFailed}}</p>\n                        </div>\n                    </a>\n                </div>\n            </div>\n            <!--<p><a href=\"/showdailystatus\" target=\"_blank\">Show page \"two\"</a></p>-->\n        </div>\n\n    </body>\n   \n</html>\n","x":756.9545593261719,"y":135.63352966308594,"wires":[["f5f15ca6.6ee03"]]},{"id":"f5f15ca6.6ee03","type":"http response","z":"ca23f017.a3529","name":"httpResponse","x":967.9630432128906,"y":194.0369415283203,"wires":[]},{"id":"37b5502a.921ea","type":"function","z":"ca23f017.a3529","name":"function","func":"var hourlyFailed=0,\n    dailyFailed=0,\n    hourlyData=[],\n    dailyData=[];\nfor (var i=0;i<msg.payload.length;i++){\n    var currentTime=new Date().getTime(),\n        alertDate=new Date(msg.payload[i].AlertDate).getTime();\n    if((currentTime-3600000) <= alertDate && alertDate<=currentTime){\n        hourlyData.push(msg.payload[i]);\n        hourlyFailed=hourlyFailed+1;\n    }\n    if(alertDate!=\"amol\"){\n    //if(alertDate<=currentTime){\n        dailyData.push(msg.payload[i]);\n        dailyFailed=dailyFailed+1;\n    }\n    if(hourlyFailed===0){\n        msg.hourlyStatus=\"Green\";\n    } else msg.hourlyStatus=\"Red\";\n    if(dailyFailed===0){\n        msg.dailyStatus=\"Green\";\n    } else msg.dailyStatus=\"Red\";\n    msg.dailyFailed=dailyFailed;\n    msg.hourlyFailed=hourlyFailed;\n\n    \n}\n    msg.dailydata=dailyData;\n    msg.hourlydata=hourlyData;\n\nif (msg.req.url===\"/alertDashboard\"){\n    return [msg,null,null]\n} else if(msg.req.url===\"/showdailystatus\") {\n    return [null,msg,null]\n} else return [null,null,msg]\n","outputs":"3","noerr":0,"x":587.9573669433594,"y":197.5482940673828,"wires":[["c0bd56f0.8df698"],["dcd58f46.0aca1"],["37726947.b5af66"]]},{"id":"e63679b7.3c0c38","type":"http in","z":"ca23f017.a3529","name":"showdailystatus","url":"/showdailystatus","method":"get","swaggerDoc":"","x":85,"y":198.94317626953125,"wires":[["b949297e.908a08"]]},{"id":"dcd58f46.0aca1","type":"template","z":"ca23f017.a3529","name":"templateJson","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html> \n<html>\n    <head>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/assets/main.css\">\n    </head>\n<body>\n    <div class=\"container-fluid\">\n        <div class=\"row dashboard-title\">\n            <h1>Alerts Dashboard</h1>\n        </div>\n        {{#dailydata.length}}\n        <div class=\"\">\n            <table class=\"table table-bordered alert-table\">\n                <tr>\n                    <th>AlertKey</th>\n                    <th>Severity</th>\n                    <th>Alert Date</th>\n                    <th class=\"message-head\">Message</th>\n                </tr>\n        {{#dailydata}}\n        <tr>\n            <td>{{AlertKey}}</td>\n            <td>{{Severity}}</td>\n            <td>{{AlertDate}}</td>\n            <td class=\"message-head\"><span class=\"hasTooltip\">{{Message}}<p>{{Message}}</p></span></td>\n        </tr>\n    {{/dailydata}}\n    </table>\n    </div>\n    {{/dailydata.length}}\n    {{^dailydata.length}}\n        <h2>No Alerts to show!</h2>\n    {{/dailydata.length}}\n    </div>\n</body>\n</html>","x":756.9999694824219,"y":195.9431915283203,"wires":[["f5f15ca6.6ee03"]]},{"id":"37726947.b5af66","type":"template","z":"ca23f017.a3529","name":"templateJson","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html> \n<html>\n    <head>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/assets/main.css\">\n\n    </head>\n<body>\n    <div class=\"row dashboard-title\">\n        <h1>Alerts Dashboard</h1>\n    </div>\n    {{#hourlydata.length}}\n        <div class=\"\">\n            <table class=\"table table-bordered alert-table\">\n                <tr>\n                    <th>AlertKey</th>\n                    <th>Severity</th>\n                    <th>Alert Date</th>\n                    <th class=\"message-head\">Message</th>\n                </tr>\n        {{#hourlydata}}\n        <tr>\n            <td>{{AlertKey}}</td>\n            <td>{{Severity}}</td>\n            <td>{{AlertDate}}</td>\n            <td class=\"message-head\"><span class=\"hasTooltip\">{{Message}}<p>{{Message}}</p></span></td>\n        </tr>\n    {{/hourlydata}}\n    </table>\n    </div>\n    {{/hourlydata.length}}\n    {{^hourlydata.length}}\n        <h2>No Alerts to show!</h2>\n    {{/hourlydata.length}}\n</body>\n</html>","x":759.9999694824219,"y":258.94317626953125,"wires":[["f5f15ca6.6ee03"]]},{"id":"3e3cc039.778f1","type":"http in","z":"ca23f017.a3529","name":"showhourlystatus","url":"/showhourlydata","method":"get","swaggerDoc":"","x":91.10417175292969,"y":347.9432067871094,"wires":[["b949297e.908a08"]]}]