api/flow/flows.json
[
    {
        "id": "52d0814f.a62c2",
        "type": "tab",
        "label": "ControlM Batch"
    },
    {
        "id": "ec253f80.0c828",
        "type": "tab",
        "label": "Job API"
    },
    {
        "id": "20782f4c.404bf",
        "type": "tab",
        "label": "Alert"
    },
    {
        "id": "defb6da4.46a1f",
        "type": "tab",
        "label": "Alert APIs"
    },
    {
        "id": "b4bc39b0.cc78d8",
        "type": "mongodb",
        "z": "52d0814f.a62c2",
        "hostname": "mongo",
        "port": "27017",
        "db": "node-red",
        "name": "Mongo"
    },
    {
        "id": "6965698a.7d1898",
        "type": "mongodb",
        "z": "ec253f80.0c828",
        "hostname": "mongo",
        "port": "27017",
        "db": "node-red",
        "name": "Mongo"
    },
    {
        "id": "ea72d554.1efcb8",
        "type": "mongodb",
        "z": "20782f4c.404bf",
        "hostname": "mongo",
        "port": "27017",
        "db": "node-red",
        "name": "Mongo"
    },
    {
        "id": "140f6e7c.e69bc2",
        "type": "mail-parse",
        "z": "52d0814f.a62c2",
        "name": "Parse Mail",
        "x": 292,
        "y": 71,
        "wires": [
            [
                "1402804b.acc43"
            ],
            []
        ]
    },
    {
        "id": "1402804b.acc43",
        "type": "function",
        "z": "52d0814f.a62c2",
        "name": "Extract Attachment",
        "func": "    msg.payload = msg.attachments[0].content;\n    return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 515,
        "y": 64,
        "wires": [
            [
                "3bc05eb6.d21b22"
            ]
        ]
    },
    {
        "id": "34c7346f.12521c",
        "type": "csv",
        "z": "52d0814f.a62c2",
        "name": "CSV to Data",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "JOB_NAME,SERVER_NAME,UNIQUE_ID,REFERENCE_ID,START_TIME,END_TIME,STATUS",
        "x": 380,
        "y": 216,
        "wires": [
            [
                "41fe4fab.80dd5"
            ]
        ]
    },
    {
        "id": "3bc05eb6.d21b22",
        "type": "function",
        "z": "52d0814f.a62c2",
        "name": "Convert to UTF8",
        "func": "msg.payload = msg.payload.toString(\"utf-8\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 159,
        "y": 215,
        "wires": [
            [
                "34c7346f.12521c"
            ]
        ]
    },
    {
        "id": "fb2eb20e.57851",
        "type": "mongodb out",
        "z": "52d0814f.a62c2",
        "mongodb": "b4bc39b0.cc78d8",
        "name": "DB Insert",
        "collection": "controlm-jobs",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "store",
        "x": 509.5,
        "y": 519,
        "wires": []
    },
    {
        "id": "bc5b2212.4f296",
        "type": "e-mail in",
        "z": "52d0814f.a62c2",
        "name": "Get Mail",
        "protocol": "IMAP",
        "server": "webmail.sapient.co.in",
        "useSSL": true,
        "port": "993",
        "box": "JOBS",
        "disposition": "Delete",
        "repeat": "300000",
        "x": 72,
        "y": 72,
        "wires": [
            [
                "140f6e7c.e69bc2"
            ]
        ]
    },
    {
        "id": "c975455c.86d9e8",
        "type": "file in",
        "z": "52d0814f.a62c2",
        "name": "File",
        "filename": "D:/Book1.csv",
        "format": "utf8",
        "x": 297,
        "y": 994,
        "wires": [
            [
                "8a32961e.1fe268"
            ]
        ]
    },
    {
        "id": "239642d1.a3886e",
        "type": "inject",
        "z": "52d0814f.a62c2",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 114,
        "y": 996,
        "wires": [
            [
                "c975455c.86d9e8"
            ]
        ]
    },
    {
        "id": "8a32961e.1fe268",
        "type": "csv",
        "z": "52d0814f.a62c2",
        "name": "CSV",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "one",
        "ret": "\\n",
        "temp": "JOB_NAME,DESCRIPTION,JOB_GROUP",
        "x": 454,
        "y": 996,
        "wires": [
            [
                "8bd3b1a4.36645"
            ]
        ]
    },
    {
        "id": "8bd3b1a4.36645",
        "type": "function",
        "z": "52d0814f.a62c2",
        "name": "Convert Prod Job",
        "func": "msg.payload.JOB_NAME=\"PROD_\"+msg.payload.JOB_NAME;\nmsg._id=msg.payload.JOB_NAME;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 664,
        "y": 995,
        "wires": [
            [
                "44f91364.a9ba9c"
            ]
        ]
    },
    {
        "id": "44f91364.a9ba9c",
        "type": "mongodb out",
        "z": "52d0814f.a62c2",
        "mongodb": "b4bc39b0.cc78d8",
        "name": "Save Job Lookup",
        "collection": "controlm-job-lookup",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 733,
        "y": 1115,
        "wires": []
    },
    {
        "id": "13a39efd.d001a1",
        "type": "e-mail in",
        "z": "20782f4c.404bf",
        "name": "Alert Mail",
        "protocol": "IMAP",
        "server": "webmail.sapient.co.in",
        "useSSL": true,
        "port": "993",
        "box": "ALERT/ATT_ALERTS",
        "disposition": "Delete",
        "repeat": "3000",
        "x": 79,
        "y": 83,
        "wires": [
            [
                "5cb978c.e9a2f88"
            ]
        ]
    },
    {
        "id": "6021602f.a20cf",
        "type": "html",
        "z": "20782f4c.404bf",
        "name": "Extract Text",
        "tag": "table>tr,table>tbody>tr",
        "ret": "html",
        "as": "multi",
        "x": 492.5,
        "y": 85,
        "wires": [
            [
                "d3641159.5f917"
            ]
        ]
    },
    {
        "id": "5cb978c.e9a2f88",
        "type": "function",
        "z": "20782f4c.404bf",
        "name": "Get HTML from Msg",
        "func": "msg.payload=msg.html;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 275.5,
        "y": 86,
        "wires": [
            [
                "6021602f.a20cf"
            ]
        ]
    },
    {
        "id": "d3641159.5f917",
        "type": "html",
        "z": "20782f4c.404bf",
        "name": "Extract Rows",
        "tag": "td",
        "ret": "text",
        "as": "single",
        "x": 694.5,
        "y": 85,
        "wires": [
            [
                "ee8c9a36.0e3ad8"
            ]
        ]
    },
    {
        "id": "ee8c9a36.0e3ad8",
        "type": "function",
        "z": "20782f4c.404bf",
        "name": "Array to JSON",
        "func": "var json ={};\njson.Asset = msg.payload[0];\njson.Severity=msg.payload[1];\njson.Mode=msg.payload[2];\njson.Message=msg.payload[3];\njson.AlertDate=msg.date;\nmsg.payload=json;\nif(json.Mode==\"drop\"){\n    msg=null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 146.5,
        "y": 205,
        "wires": [
            [
                "1298e393.65a6ec"
            ]
        ]
    },
    {
        "id": "3c274fb3.7b7a5",
        "type": "mongodb out",
        "z": "20782f4c.404bf",
        "mongodb": "ea72d554.1efcb8",
        "name": "Save Alert",
        "collection": "alert",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "store",
        "x": 759.5,
        "y": 211,
        "wires": []
    },
    {
        "id": "89fb37a.4d6ebc8",
        "type": "function",
        "z": "20782f4c.404bf",
        "name": "Set ControlM AlertKey",
        "func": "var regexp = /(?:^|\\s)The JOB (.*?)(?:\\s|$)/g;\nvar match = regexp.exec(msg.payload.Message);\nmsg.payload.AlertKey=match[1];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 174.5,
        "y": 302,
        "wires": [
            [
                "3c274fb3.7b7a5"
            ]
        ]
    },
    {
        "id": "1298e393.65a6ec",
        "type": "switch",
        "z": "20782f4c.404bf",
        "name": "Message Type",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "M&S Control-M JOB alert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MNS PLATFORM Alert",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "MNS PLT_SERVICE_ALERT Alert",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "outputs": 3,
        "x": 467.5,
        "y": 208,
        "wires": [
            [
                "89fb37a.4d6ebc8"
            ],
            [
                "c059c45e.609168"
            ],
            [
                "8beffd3e.ce76a"
            ]
        ]
    },
    {
        "id": "c059c45e.609168",
        "type": "function",
        "z": "20782f4c.404bf",
        "name": "Set Platform AlertKey",
        "func": "var messageStr=msg.payload.Message;\nvar splitKey = messageStr.split(\"||\");\nvar key;\nif(typeof splitKey[2]!= \"undefined\"){\n    key = splitKey[2].split(\" \")[2];\n}else{\n    key = messageStr.split(\"--\")[2].split(\" \")[2];\n}\nmsg.payload.AlertKey=key;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 164,
        "y": 377,
        "wires": [
            [
                "3c274fb3.7b7a5"
            ]
        ]
    },
    {
        "id": "8beffd3e.ce76a",
        "type": "function",
        "z": "20782f4c.404bf",
        "name": "Set Service AlertKey",
        "func": "//TODO\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 158,
        "y": 451,
        "wires": [
            [
                "3c274fb3.7b7a5"
            ]
        ]
    },
    {
        "id": "588c0a6d.a55c14",
        "type": "http in",
        "z": "ec253f80.0c828",
        "name": "Request",
        "url": "/dashboard/job/lookup",
        "method": "get",
        "swaggerDoc": "",
        "x": 78,
        "y": 56,
        "wires": [
            [
                "94ed69be.071c88"
            ]
        ]
    },
    {
        "id": "b3fa246e.3b3108",
        "type": "mongodb in",
        "z": "ec253f80.0c828",
        "mongodb": "6965698a.7d1898",
        "name": "Get Data",
        "collection": "controlm-job-lookup",
        "operation": "find",
        "x": 280,
        "y": 53,
        "wires": [
            [
                "7cd2c2a7.050c5c"
            ]
        ]
    },
    {
        "id": "6ab7161a.9f1648",
        "type": "http response",
        "z": "ec253f80.0c828",
        "name": "Reponse",
        "x": 702,
        "y": 57,
        "wires": []
    },
    {
        "id": "94ed69be.071c88",
        "type": "function",
        "z": "ec253f80.0c828",
        "name": "Set Fetch Properties",
        "func": "var job_type=msg.payload.type;\nif(typeof job_type== \"undefined\"){\n    job_type=/.*.*/;\n}\nmsg.payload={JOB_GROUP: job_type};\nmsg.limit=0;\nmsg.skip=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 242,
        "y": 156,
        "wires": [
            [
                "b3fa246e.3b3108"
            ]
        ]
    },
    {
        "id": "7cd2c2a7.050c5c",
        "type": "json",
        "z": "ec253f80.0c828",
        "name": "OBJECT",
        "x": 517.5,
        "y": 101,
        "wires": [
            [
                "6ab7161a.9f1648"
            ]
        ]
    },
    {
        "id": "40eb6b11.9ab034",
        "type": "http in",
        "z": "defb6da4.46a1f",
        "name": "Request",
        "url": "/dashboard/alerts/api",
        "method": "get",
        "swaggerDoc": "",
        "x": 101,
        "y": 90,
        "wires": [
            [
                "68649fff.4c3b3"
            ]
        ]
    },
    {
        "id": "7d86c1d1.24fe5",
        "type": "mongodb in",
        "z": "defb6da4.46a1f",
        "mongodb": "6965698a.7d1898",
        "name": "Get Data",
        "collection": "alert",
        "operation": "find",
        "x": 302,
        "y": 95,
        "wires": [
            [
                "6e9fc1e0.49f43"
            ]
        ]
    },
    {
        "id": "e6cc12a6.c1799",
        "type": "http response",
        "z": "defb6da4.46a1f",
        "name": "Reponse",
        "x": 724,
        "y": 99,
        "wires": []
    },
    {
        "id": "68649fff.4c3b3",
        "type": "function",
        "z": "defb6da4.46a1f",
        "name": "Set Fetch Properties",
        "func": "var severity=msg.payload.severity;\nvar startDateVar = msg.payload.startDate;\nvar endDateVar = msg.payload.endDate;\nvar startDate= new Date();\nvar endDate= new Date();\n\n\nif(typeof startDateVar== \"undefined\"){\n    startDate.setUTCHours(startDate.getUTCHours()-24);startDate.setUTCHours(22);startDate.setUTCMinutes(30);\n}else{\n\tstartArr=startDateVar.split(\"/\");\n\tstartDate.setUTCDate(startArr[1]);\n\tstartDate.setUTCMonth(startArr[0]-1);\n\tstartDate.setYear(startArr[2]);\n\tstartDate.setUTCHours(0);\n\tstartDate.setUTCMinutes(0);\n\tstartDate.setUTCSeconds(0);\n}\n\nif(typeof endDateVar== \"undefined\"){\n    endDate=new Date();\n}else {\n\tendDateArr=endDateVar.split(\"/\");\n\tendDate.setUTCDate(endDateArr[1]);\n\tendDate.setUTCMonth(endDateArr[0]-1);\n\tendDate.setYear(endDateArr[2]);\n\tendDate.setUTCHours(0);\n\tendDate.setUTCMinutes(0);\n\tendDate.setUTCSeconds(0);\n}\n\nmsg.limit= 0;\nmsg.skip= 0;\nmsg.sort={ AlertDate: -1 };\nif(typeof severity== \"undefined\" || severity==\"all\"){\n\tmsg.payload={AlertDate: {$gt: startDate , $lt: endDate } };\n}else{\n\tmsg.payload={Severity: severity , AlertDate: {$gt: startDate , $lt: endDate } };\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 261,
        "y": 198,
        "wires": [
            [
                "7d86c1d1.24fe5"
            ]
        ]
    },
    {
        "id": "6e9fc1e0.49f43",
        "type": "json",
        "z": "defb6da4.46a1f",
        "name": "",
        "x": 497.5,
        "y": 247,
        "wires": [
            [
                "e6cc12a6.c1799"
            ]
        ]
    },
    {
        "id": "f196afa2.0c429",
        "type": "http in",
        "z": "ec253f80.0c828",
        "name": "Request",
        "url": "/dashboard/job/api",
        "method": "get",
        "swaggerDoc": "",
        "x": 79,
        "y": 256,
        "wires": [
            [
                "c9d3270.244c4d8"
            ]
        ]
    },
    {
        "id": "95634932.f2ae08",
        "type": "mongodb in",
        "z": "ec253f80.0c828",
        "mongodb": "6965698a.7d1898",
        "name": "Get Jobs",
        "collection": "controlm-job-lookup",
        "operation": "find",
        "x": 325,
        "y": 259,
        "wires": [
            [
                "5966a840.675c18"
            ]
        ]
    },
    {
        "id": "5c961476.f69bcc",
        "type": "http response",
        "z": "ec253f80.0c828",
        "name": "Reponse",
        "x": 767,
        "y": 264,
        "wires": []
    },
    {
        "id": "c9d3270.244c4d8",
        "type": "function",
        "z": "ec253f80.0c828",
        "name": "Get All JOB in Group",
        "func": "var job_type=msg.payload.type;\nif(typeof job_type== \"undefined\"){\n    job_type=/.*.*/;\n}\nmsg.payload={JOB_GROUP: job_type};\nmsg.limit=0;\nmsg.skip=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 169,
        "y": 379,
        "wires": [
            [
                "95634932.f2ae08"
            ]
        ]
    },
    {
        "id": "232deaca.371546",
        "type": "json",
        "z": "ec253f80.0c828",
        "name": "OBJECT",
        "x": 722.5,
        "y": 337,
        "wires": [
            [
                "5c961476.f69bcc"
            ]
        ]
    },
    {
        "id": "b3c7c33d.1cf1a",
        "type": "function",
        "z": "ec253f80.0c828",
        "name": "Set Fetch Properties",
        "func": "var job_type=msg.payload.type;\nvar startDateVar=msg.payload.date;\nvar startDate= new Date();\nvar endDate= new Date();\nvar job_array = msg.payload;\nif(typeof job_type== \"undefined\"){\n    job_type=/.*.*/;\n}\nif(typeof startDateVar== \"undefined\"){\n    startDate.setUTCHours(startDate.getUTCHours()-24);\n    startDate.setUTCHours(22);\n    startDate.setUTCMinutes(30);\n    startDate.setUTCSeconds(0);\n\tendDate=new Date();\n}else{\n\tstartArr=startDateVar.split(\"/\");\n\tstartDate.setUTCDate(startArr[1]-1);\n\tstartDate.setUTCMonth(startArr[0]-1);\n\tstartDate.setYear(startArr[2]);\n\tendDate.setUTCDate(startArr[1]);\n\tendDate.setUTCMonth(startArr[0]-1);\n\tendDate.setYear(startArr[2]);\n\n\tstartDate.setUTCHours(22);\n\tstartDate.setUTCMinutes(30);\n\tstartDate.setUTCSeconds(0);\n\n\tendDate.setUTCHours(22);\n\tendDate.setUTCMinutes(30);\n\tendDate.setUTCSeconds(0);\n\t\n\t\n}\nmsg.payload={JOB_NAME: {$in: job_array},START_TIME: {$gt: startDate , $lt: endDate } };\nmsg.sort={ START_TIME: -1 };\nmsg.limit=0;\nmsg.skip=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 470,
        "y": 455,
        "wires": [
            [
                "e7bf36b8.ff6a98"
            ]
        ]
    },
    {
        "id": "e7bf36b8.ff6a98",
        "type": "mongodb in",
        "z": "ec253f80.0c828",
        "mongodb": "6965698a.7d1898",
        "name": "Get Data",
        "collection": "controlm-jobs",
        "operation": "find",
        "x": 715,
        "y": 452,
        "wires": [
            [
                "232deaca.371546"
            ]
        ]
    },
    {
        "id": "5966a840.675c18",
        "type": "function",
        "z": "ec253f80.0c828",
        "name": "Create Job Array",
        "func": "var job_name = msg.payload;\nvar job_array =[];\n\nfor (i = 0; i < job_name.length; i++) { \n    job_array.push(job_name[i].JOB_NAME);\n}\nmsg.payload=job_array;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 539.5,
        "y": 263,
        "wires": [
            [
                "b3c7c33d.1cf1a"
            ]
        ]
    },
    {
        "id": "2b770922.b9e716",
        "type": "function",
        "z": "52d0814f.a62c2",
        "name": "Add MongoDB ID",
        "func": "msg._id=msg.csv.UNIQUE_ID;\nif(typeof msg.csv.START_TIME!=\"undefined\"){\n    var stringDate = msg.csv.START_TIME.trim();\n\tvar date = new Date(stringDate);\n\tvar utcDate= new Date();\n\tutcDate.setUTCDate(date.getDate());\n\tutcDate.setUTCHours(date.getHours());\n\tutcDate.setUTCMinutes(date.getMinutes());\n\tutcDate.setUTCMinutes(date.getMinutes());\n\tutcDate.setUTCSeconds(date.getSeconds());\n    msg.csv.START_TIME=utcDate;\n}\nif(typeof msg.csv.END_TIME!=\"undefined\"){\n    var stringDate = msg.csv.END_TIME.trim();\n\tvar date = new Date(stringDate);\n\tvar utcDate= new Date();\n\tutcDate.setUTCDate(date.getDate());\n\tutcDate.setUTCHours(date.getHours());\n\tutcDate.setUTCMinutes(date.getMinutes());\n\tutcDate.setUTCSeconds(date.getSeconds());\n    msg.csv.END_TIME=utcDate;\n}\n\nvar newObj= Object.assign({},msg.payload[0],msg.csv);\n\nmsg.payload=newObj;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 192,
        "y": 507,
        "wires": [
            [
                "fb2eb20e.57851"
            ]
        ]
    },
    {
        "id": "eab51fea.454e2",
        "type": "mongodb in",
        "z": "52d0814f.a62c2",
        "mongodb": "b4bc39b0.cc78d8",
        "name": "Find Existing",
        "collection": "controlm-jobs",
        "operation": "find",
        "x": 541.5,
        "y": 333,
        "wires": [
            [
                "2b770922.b9e716"
            ]
        ]
    },
    {
        "id": "41fe4fab.80dd5",
        "type": "function",
        "z": "52d0814f.a62c2",
        "name": "Find Original Exiting message",
        "func": "msg.csv=msg.payload;\nvar ID=msg.payload.UNIQUE_ID;\nmsg.payload={_id: ID};\nmsg.limit=0;\nmsg.skip=0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 251.5,
        "y": 324,
        "wires": [
            [
                "eab51fea.454e2"
            ]
        ]
    }
]