client/flow/flows.json
[{"id":"ec253f80.0c828","type":"tab","label":"Job Dashbaord"},{"id":"ca23f017.a3529","type":"tab","label":"Alert DashBoard"},{"id":"50344024.85a61","type":"mongodb","z":"ec253f80.0c828","hostname":"mongo","port":"27017","db":"node-red","name":"Mongo"},{"id":"6c8772ea.40a3fc","type":"mongodb","z":"ca23f017.a3529","hostname":"mongo","port":"27017","db":"node-red","name":"Mongo"},{"id":"fc8ab9ea.abc4b8","type":"http in","z":"ec253f80.0c828","name":"Request","url":"/dashboard/controlm-jobs","method":"get","swaggerDoc":"","x":108,"y":40,"wires":[["14dae9c3.2fa3f6"]]},{"id":"c495f8a8.8322c8","type":"mongodb in","z":"ec253f80.0c828","mongodb":"50344024.85a61","name":"Get Data","collection":"controlm-jobs","operation":"aggregate","x":309,"y":45,"wires":[["1befc500.4f886b"]]},{"id":"6490c6c8.71e308","type":"http response","z":"ec253f80.0c828","name":"Reponse","x":731,"y":49,"wires":[]},{"id":"1befc500.4f886b","type":"template","z":"ec253f80.0c828","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Batch Job DashBoard</title>\n</head>\n<body>\n\n<h1>Batch Job DashBoard</h1>\n<table style=\"width:100%\">\n    <th>JOB_NAME</th>\n    <th>SERVER_NAME</th>\n    <th>START_TIME</th>\n    <th>END_TIME</th>\n    <th>STATUS</th>\n    <th>DESCRIPTION</th>\n    <th>JOB_GROUP</th>\n{{#payload}}\n  <tr>\n    <td>{{JOB_NAME}}</td>\n    <td>{{SERVER_NAME}}</td> \n    <td>{{START_TIME}}</td>\n\t<td>{{END_TIME}}</td>\n\t<td>{{STATUS}}</td>\n\t{{#LOOKUP}}\n\t<td>{{DESCRIPTION}}</td>\n\t<td>{{JOB_GROUP}}</td>\n\t{{/LOOKUP}}\n  </tr>\n  {{/payload}}\n</table>\n\n</body>\n</html>\n\n","x":500,"y":106,"wires":[["6490c6c8.71e308"]]},{"id":"14dae9c3.2fa3f6","type":"function","z":"ec253f80.0c828","name":"Set Fetch Properties","func":"var job_type=msg.payload.type;\nif(typeof job_type== \"undefined\"){\n    job_type=/.*.*/;\n}\nmsg.payload=[\n    {\n      $lookup:\n     {\n       from: \"controlm-job-lookup\",\n       localField: \"JOB_NAME\",\n       foreignField: \"JOB_NAME\",\n       as: \"LOOKUP\"\n     }\n   },\n   { $match: {\"LOOKUP.JOB_GROUP\" : job_type  } },\n   { $sort: { START_TIME: -1 }},\n    { $limit : 50 }\n];\nreturn msg;","outputs":1,"noerr":0,"x":271,"y":148,"wires":[["c495f8a8.8322c8"]]},{"id":"6851e03d.5994e","type":"http in","z":"ec253f80.0c828","name":"Request","url":"/dashboard/alerts","method":"get","swaggerDoc":"","x":101,"y":186,"wires":[["33f2dced.9b3cc4"]]},{"id":"d992a9ee.552d88","type":"mongodb in","z":"ec253f80.0c828","mongodb":"50344024.85a61","name":"Get Data","collection":"alert","operation":"find","x":302,"y":191,"wires":[["cf795a56.57ff58"]]},{"id":"ceb78fc1.48a67","type":"http response","z":"ec253f80.0c828","name":"Reponse","x":724,"y":195,"wires":[]},{"id":"cf795a56.57ff58","type":"template","z":"ec253f80.0c828","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<title>Alert DashBoard</title>\n</head>\n<body>\n\n<h1>Alert DashBoard</h1>\n<table style=\"width:100% ;border: 1px solid black;\">\n{{#payload}}\n  <tr>\n    <td style=\"border: 1px solid black;\">{{Asset}}</td>\n    <td style=\"border: 1px solid black;\">{{Severity}}</td> \n    <td style=\"border: 1px solid black;\">{{Mode}}</td>\n\t<td style=\"border: 1px solid black;\">{{Message}}</td>\n\t<td style=\"border: 1px solid black;\">{{AlertDate}}</td>\n\t<td style=\"border: 1px solid black;\">{{AlertKey}}</td>\n  </tr>\n  {{/payload}}\n</table>\n\n</body>\n</html>\n\n","x":493,"y":252,"wires":[["ceb78fc1.48a67"]]},{"id":"33f2dced.9b3cc4","type":"function","z":"ec253f80.0c828","name":"Set Fetch Properties","func":"msg.limit= 150;\nmsg.sort={ AlertDate: -1 };\nmsg.payload={Severity:\"major\"};\nreturn msg;","outputs":1,"noerr":0,"x":264,"y":294,"wires":[["d992a9ee.552d88"]]},{"id":"1c897b09.7a87a5","type":"mongodb in","z":"ca23f017.a3529","mongodb":"6c8772ea.40a3fc","name":"Get Data","collection":"alert","operation":"find","x":445.99993896484375,"y":198,"wires":[["37b5502a.921ea"]]},{"id":"b949297e.908a08","type":"function","z":"ca23f017.a3529","name":"Set Data Prop","func":"msg.limit= 150;\nmsg.sort={ AlertDate: -1 };\nmsg.payload={Severity:\"major\"};\nreturn msg;","outputs":1,"noerr":0,"x":273.99998474121094,"y":199,"wires":[["1c897b09.7a87a5"]]},{"id":"f95d023f.91e6c","type":"http in","z":"ca23f017.a3529","name":"AlertDashboard","url":"/alertDashboard","method":"get","swaggerDoc":"","x":97,"y":48,"wires":[["b949297e.908a08"]]},{"id":"c0bd56f0.8df698","type":"template","z":"ca23f017.a3529","name":"templateJson","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html> \n<html>\n<head>\n    <meta http-equiv=\"refresh\" content=\"30\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/assets/main.css\">\n\n    </head>\n    <body class=\"alert-homepage\">\n        <div class=\"container-fluid\">\n            <div class=\"row dashboard-title\">\n                <h1>Alerts Dashboard</h1>\n            </div>\n            <div class=\"row\">\n                <div class=\"col-sm-6\">\n                    <a href=\"/showhourlydata\" target=\"_blank\">\n                    <div class=\"{{hourlyStatus}} status-box\">\n                        <h2>Hourly Status</h2>\n                        <p>Status : {{hourlyStatus}}</p>\n                        <p>Number of alerts: {{hourlyFailed}}</p>\n                    </div>\n                    </a>\n                </div>\n                <div class=\"col-sm-6\">\n                    <a href=\"/showdailystatus\" target=\"_blank\">\n                        <div class=\"{{dailyStatus}} status-box\">\n                            <h2>Daily Status</h2>\n                            <p>Status : {{dailyStatus}}</p>\n                            <p>Number of alerts: {{dailyFailed}}</p>\n                        </div>\n                    </a>\n                </div>\n            </div>\n            <!--<p><a href=\"/showdailystatus\" target=\"_blank\">Show page \"two\"</a></p>-->\n        </div>\n\n    </body>\n   \n</html>\n","x":756.9545593261719,"y":135.63352966308594,"wires":[["f5f15ca6.6ee03"]]},{"id":"f5f15ca6.6ee03","type":"http response","z":"ca23f017.a3529","name":"httpResponse","x":967.9630432128906,"y":194.0369415283203,"wires":[]},{"id":"37b5502a.921ea","type":"function","z":"ca23f017.a3529","name":"function","func":"var hourlyFailed=0,\n    dailyFailed=0,\n    hourlyData=[],\n    dailyData=[];\nfor (var i=0;i<msg.payload.length;i++){\n    var currentTime=new Date().getTime(),\n        alertDate=new Date(msg.payload[i].AlertDate).getTime();\n    if((currentTime-3600000) <= alertDate && alertDate<=currentTime){\n        hourlyData.push(msg.payload[i]);\n        hourlyFailed=hourlyFailed+1;\n    }\n    if(alertDate!=\"amol\"){\n    //if(alertDate<=currentTime){\n        dailyData.push(msg.payload[i]);\n        dailyFailed=dailyFailed+1;\n    }\n    if(hourlyFailed===0){\n        msg.hourlyStatus=\"Green\";\n    } else msg.hourlyStatus=\"Red\";\n    if(dailyFailed===0){\n        msg.dailyStatus=\"Green\";\n    } else msg.dailyStatus=\"Red\";\n    msg.dailyFailed=dailyFailed;\n    msg.hourlyFailed=hourlyFailed;\n\n    \n}\n    msg.dailydata=dailyData;\n    msg.hourlydata=hourlyData;\n\nif (msg.req.url===\"/alertDashboard\"){\n    return [msg,null,null]\n} else if(msg.req.url===\"/showdailystatus\") {\n    return [null,msg,null]\n} else return [null,null,msg]\n","outputs":"3","noerr":0,"x":587.9573669433594,"y":197.5482940673828,"wires":[["c0bd56f0.8df698"],["dcd58f46.0aca1"],["37726947.b5af66"]]},{"id":"e63679b7.3c0c38","type":"http in","z":"ca23f017.a3529","name":"showdailystatus","url":"/showdailystatus","method":"get","swaggerDoc":"","x":85,"y":198.94317626953125,"wires":[["b949297e.908a08"]]},{"id":"dcd58f46.0aca1","type":"template","z":"ca23f017.a3529","name":"templateJson","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html> \n<html>\n    <head>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/assets/main.css\">\n    </head>\n<body>\n    <div class=\"container-fluid\">\n        <div class=\"row dashboard-title\">\n            <h1>Alerts Dashboard</h1>\n        </div>\n        {{#dailydata.length}}\n        <div class=\"\">\n            <table class=\"table table-bordered alert-table\">\n                <tr>\n                    <th>AlertKey</th>\n                    <th>Severity</th>\n                    <th>Alert Date</th>\n                    <th class=\"message-head\">Message</th>\n                </tr>\n        {{#dailydata}}\n        <tr>\n            <td>{{AlertKey}}</td>\n            <td>{{Severity}}</td>\n            <td>{{AlertDate}}</td>\n            <td class=\"message-head\"><span class=\"hasTooltip\">{{Message}}<p>{{Message}}</p></span></td>\n        </tr>\n    {{/dailydata}}\n    </table>\n    </div>\n    {{/dailydata.length}}\n    {{^dailydata.length}}\n        <h2>No Alerts to show!</h2>\n    {{/dailydata.length}}\n    </div>\n</body>\n</html>","x":756.9999694824219,"y":195.9431915283203,"wires":[["f5f15ca6.6ee03"]]},{"id":"37726947.b5af66","type":"template","z":"ca23f017.a3529","name":"templateJson","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html> \n<html>\n    <head>\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css\">\n    <link rel=\"stylesheet\" href=\"/assets/main.css\">\n\n    </head>\n<body>\n    <div class=\"row dashboard-title\">\n        <h1>Alerts Dashboard</h1>\n    </div>\n    {{#hourlydata.length}}\n        <div class=\"\">\n            <table class=\"table table-bordered alert-table\">\n                <tr>\n                    <th>AlertKey</th>\n                    <th>Severity</th>\n                    <th>Alert Date</th>\n                    <th class=\"message-head\">Message</th>\n                </tr>\n        {{#hourlydata}}\n        <tr>\n            <td>{{AlertKey}}</td>\n            <td>{{Severity}}</td>\n            <td>{{AlertDate}}</td>\n            <td class=\"message-head\"><span class=\"hasTooltip\">{{Message}}<p>{{Message}}</p></span></td>\n        </tr>\n    {{/hourlydata}}\n    </table>\n    </div>\n    {{/hourlydata.length}}\n    {{^hourlydata.length}}\n        <h2>No Alerts to show!</h2>\n    {{/hourlydata.length}}\n</body>\n</html>","x":759.9999694824219,"y":258.94317626953125,"wires":[["f5f15ca6.6ee03"]]},{"id":"3e3cc039.778f1","type":"http in","z":"ca23f017.a3529","name":"showhourlystatus","url":"/showhourlydata","method":"get","swaggerDoc":"","x":91.10417175292969,"y":347.9432067871094,"wires":[["b949297e.908a08"]]}]