flow_templates/4xx-board.txt
[{"id":"4fe54743.2cb6b8","type":"http in","z":"aabd01cb.f6c9e","name":"getDashboard","url":"/4xx-board","method":"get","swaggerDoc":"","x":119,"y":419,"wires":[["4e62380e.5584c8"]]},{"id":"2d78f6e2.e36a8a","type":"csv","z":"aabd01cb.f6c9e","name":"transformToJson","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"IHS_URL,IHS_UserAgent,IHS_ReferrerURL,count,TEAM","x":568,"y":36,"wires":[["5e9ab7ef.a0ce78"]]},{"id":"c342aba4.a3b528","type":"http request","z":"aabd01cb.f6c9e","name":"getReports","method":"GET","ret":"txt","url":"http://localhost/assets/4xx-board/data/latest/splunk-results.csv","tls":"","x":379,"y":36,"wires":[["2d78f6e2.e36a8a"]]},{"id":"4e62380e.5584c8","type":"function","z":"aabd01cb.f6c9e","name":"handleResponse","func":"function storeResult(data) {\n    context.data = data;\n}\n\n\nfunction hasThisValue(data, value) {\n    var count = 0;\n    for(var key in data){\n        if(data.hasOwnProperty(key)) {\n            if(data[key].name === value){\n                return count;\n            }\n        count++;\n        }\n    }\n    return -1;\n}\n\n\nfunction doesThisNameMatch(data, value) {\n    var count = 0;\n    for(var key in data){\n        if(data.hasOwnProperty(key)) {\n            var parsedDataValue = data[key].name.substring(data[key].name.lastIndexOf('/') + 1);\n            var parsedValue = value.substring(value.lastIndexOf('/') + 1);\n            if(parsedDataValue === parsedValue){\n                return count;\n            }\n        count++;\n        }\n    }\n    return -1;\n}\n\nfunction filterResult(data){\n    var filteredResult = [], urls=[], count=0, totalCount = 0, matchedCount = 0;\n    data.forEach(function(result){\n        index = hasThisValue(filteredResult, result.IHS_URL);\n        \n        if(index === -1) {\n            index = doesThisNameMatch(filteredResult, result.IHS_URL);\n            if(index !== -1) {\n                filteredResult[index].urls.push({\n                    'name':result.IHS_URL,\n                    'count':result.count\n                });\n            }\n        } else {\n            var i = hasThisValue(filteredResult[index].urls, result.IHS_URL);\n            filteredResult[index].urls[i].count += result.count;\n        }\n        \n        if(index !== -1) {\n            \n            filteredResult[index].count += result.count;\n            matchedCount += result.count;\n            i = hasThisValue(filteredResult[index].referer, result.IHS_ReferrerURL);\n            \n            if(i !== -1){\n                filteredResult[index].referer[i].count += result.count;\n                \n                var j = hasThisValue(filteredResult[index].referer[i].ua, result.IHS_UserAgent);\n            \n                if(j !== -1){\n                    filteredResult[index].referer[i].ua.count += result.count;\n                }else{\n                    filteredResult[index].referer[i].ua.push({\n                        'name': result.IHS_UserAgent,\n                        'count': result.count\n                    });\n                }\n            }else{\n                filteredResult[index].referer.push({\n                    'name': result.IHS_ReferrerURL,\n                    'count': result.count,\n                    'ua': [{\n                        'name': result.IHS_UserAgent,\n                        'count': result.count\n                    }]\n                });\n            }\n        } else {\n            urls.push(result.IHS_URL);\n            matchedCount += result.count;\n            count++;\n            filteredResult.push({\n                'index': count,\n                'name': result.IHS_URL,\n                'cmd_string' : result.IHS_URL.substring(result.IHS_URL.lastIndexOf('/') + 1),\n                'urls': [{\n                    'name':result.IHS_URL,\n                    'count':result.count\n                    \n                }],\n                'count': result.count,\n                'AssesmentState': false,\n                'referer': [{\n                    'name': result.IHS_ReferrerURL,\n                    'count': result.count,\n                    'ua': [{\n                        'name': result.IHS_UserAgent,\n                        'count': result.count\n                    }]\n                }]\n            });\n        }\n    });\n    \n    return {\n        results: filteredResult,\n        totalCount: matchedCount,\n        matchedCount: matchedCount,\n        urls: urls\n    };\n}\n\n\ncontext.data = context.data || {};\nif(msg.identifier === '4xx-results'){\n    //format results\n    var filteredData = filterResult(msg.payload);\n\n    storeResult(filteredData);\n    \n} else if(msg.identifier === 'update-status') {\n    \n    var filterResults = context.data.results.filter(function(result){\n        if(result.index == msg.payload.SerialId){\n            if(msg.payload.AssesmentState === 'true' ||msg.payload.AssesmentState === 'false'){\n                if(msg.payload.AssesmentState === 'true'){\n                    result.AssesmentState = true;\n                    result.Comment = msg.payload.comment;\n                }else{\n                    result.AssesmentState = false;\n                    result.Comment = msg.payload.comment;\n                }\n                msg.payload.status = 'success'; \n                return 1;\n            }else{\n                msg.payload.status = 'error';\n                return 0;\n            }\n        } else {\n            return 0;\n        }\n    });\n    \n    msg.payload.results = filterResults;\n    return [null, msg];\n} else {\n\n    msg.payload = context.data;\n    return [msg, null];\n}\n","outputs":"2","noerr":0,"x":361,"y":418,"wires":[["808eeaf8.0952c8","a9e25307.0d337"],["c5977f0a.5d35a"]]},{"id":"51df6f30.77af6","type":"http response","z":"aabd01cb.f6c9e","name":"setDashboardView","x":768,"y":320,"wires":[]},{"id":"808eeaf8.0952c8","type":"template","z":"aabd01cb.f6c9e","name":"createView","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!doctype html>\n<html>\n<head>\n    <meta charset=\"utf-8\"/>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=2\"/>\n    <title>4xx dashboard</title>\n    <link href='/assets/common/styles/app.css' rel=\"stylesheet\"/>\n    <link href='/assets/4xx-board/styles/app.css' rel=\"stylesheet\"/>\n</head>\n\n<body>\n    <header>\n        <h1>4xx dashboard</h1>\n        {{#payload.ignoredCount}}<p><b>Note:</b> Filtered out {{payload.ignoredCount}} from {{payload.totalCount}} urls with resources in it.</p>{{/payload.ignoredCount}}\n    </header>\n    <table calss=\"accordian result\">\n        <caption>List of Urls throwing 404</caption>\n        <thead>\n        <tr>\n            <th class=\"small\"># {{#payload.matchedCount}}<span class=\"total__count\">{{.}}</span>{{/payload.matchedCount}}</th>\n            <th scope=col class=\"accordian__boss\">url</th>\n        </tr>\n        </thead>\n        <tbody>\n        {{#payload.results}}\n        <tr id=\"resultItem{{index}}\" class=\"accordian__item result__item {{#AssesmentState}}result__item--assesed{{/AssesmentState}}\">\n            <td>\n                {{index}} <span class=\"total__count\">{{count}}</span>\n            </td>\n            <td>\n                <table>\n                    <tbody>\n                        <tr class=\"accordian__header\" data-Parent=\"resultItem{{index}}\">\n                            <th scope=row colspan=3>\n                                {{name}}\n                                <label for=\"analysed{{index}}\" title=\"{{comment}}\">\n                                    {{#AssesmentState}}<input type=\"checkbox\" name=\"assesmentStatus{{index}}\" id=\"analysed{{index}}\" class=\"input__checkbox\" value=\"{{index}}\" checked=\"checked\" />{{/AssesmentState}}\n                                    {{^AssesmentState}}<input type=\"checkbox\" name=\"assesmentStatus{{index}}\" id=\"analysed{{index}}\" class=\"input__checkbox\" value=\"{{index}}\"/>{{/AssesmentState}}\n                                    <span>comment</span>\n                                </label>\n                            </th>\n                        </tr>\n                        <tr class=\"accordian__info\">\n                            <td class=\"medium\"><ul>\n                                {{#urls}}<li>\n                                    {{count}} times, <br/>{{name}}\n                                </li>{{/urls}}\n                            </ul></td>\n                            <td class=\"medium\"><ul>\n                                {{#referer}}<li>\n                                    {{count}} times, <br/>{{name}}\n                                </li>{{/referer}}\n                            </ul></td>\n                            <td class=\"medium\"><ul>\n                                {{#referer}}{{#ua}}<li>\n                                    {{count}} times, <br/>{{name}}\n                                </li>{{/ua}}{{/referer}}\n                            </ul></td>\n                        </tr>\n                    </tbody>\n                </table>\n            </td>\n        </tr>\n        {{/payload.results}}\n        {{^payload.results}}\n            <tr><td colspan=2 class=\"no-content\">No 4xx on site.</td></tr>\n        {{/payload.results}}\n        </tbody>\n    </table>\n    \n    <div class=\"lightbox\" id=\"lightbox\">\n        <form name=\"addComment\" method=\"post\" action=\"/update/status\" id=\"updateStatus\">\n            <h2>Assesment Details:</h2>\n            <div id=\"formError\"></div>\n            <fieldset>\n                <input type=\"hidden\" name=\"SerialNo\" value=\"1\"/>\n                <input type=\"hidden\" name=\"AssesmentState\" value=\"true\"/>\n            </fieldset>\n            <fieldset>\n                <label>Comment:</label>\n                <textarea placeholder=\"Enter your comment.\" name=\"Comment\" class=\"input__textarea\"></textarea>\n            </fieldset>\n            <fieldset>\n                <button class=\"input__submit\" type=\"submit\">Submit</button>\n                <button class=\"input__reset\" type=\"reset\">Close</button>\n            </fieldset>\n        </form>\n    </div>\n    \n    {{#payload.ignoredCount}}<p><b>Note:</b> Filtered out {{payload.ignoredCount}} from {{payload.totalCount}} urls with resources in it.</p>{{/payload.ignoredCount}}\n    \n    <script src=\"/assets/4xx-board/scripts/accordian.js\" type=\"application/javascript\"></script>\n    <script src=\"/assets/4xx-board/scripts/updateStatus.js\" type=\"application/javascript\"></script>\n</body>\n</html>","x":553,"y":373,"wires":[["51df6f30.77af6"]]},{"id":"a9e25307.0d337","type":"debug","z":"aabd01cb.f6c9e","name":"view created","active":true,"console":"false","complete":"payload","x":755,"y":412,"wires":[]},{"id":"5e9ab7ef.a0ce78","type":"function","z":"aabd01cb.f6c9e","name":"transformJson","func":"context.data = {'id':'json-transformer'}\nmsg.identifier = '4xx-results';\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":208,"wires":[["4e62380e.5584c8","ba353df8.a956d"]]},{"id":"ba353df8.a956d","type":"debug","z":"aabd01cb.f6c9e","name":"results","active":true,"console":"false","complete":"payload","x":698,"y":129,"wires":[]},{"id":"4e89bddd.7d3184","type":"http in","z":"aabd01cb.f6c9e","name":"setState","url":"/update/status","method":"get","swaggerDoc":"","x":106.5,"y":617,"wires":[["c16ac39f.1051c"]]},{"id":"c16ac39f.1051c","type":"function","z":"aabd01cb.f6c9e","name":"filterRequest","func":"msg.identifier = 'update-status';\nreturn msg;","outputs":1,"noerr":0,"x":283.5,"y":578,"wires":[["4e62380e.5584c8","eb06560c.9b0808"]]},{"id":"eb06560c.9b0808","type":"debug","z":"aabd01cb.f6c9e","name":"debug update request","active":true,"console":"false","complete":"payload","x":414.5,"y":695,"wires":[]},{"id":"c5977f0a.5d35a","type":"http response","z":"aabd01cb.f6c9e","name":"updateStatusResponse","x":616.5,"y":506,"wires":[]},{"id":"de69ac50.3892e","type":"inject","z":"aabd01cb.f6c9e","name":"fetchReportsTimely","topic":"notFoundUrls","payload":"","payloadType":"date","repeat":"","crontab":"05 11 * * 1,2,3,4,5","once":false,"x":180,"y":36,"wires":[["c342aba4.a3b528"]]}]